DATABASE_URL="postgresql://lincomms:lincomms@localhost:5432/lincomms_dev?schema=public"
PORT=4000
INVITE_PRIVATE_KEY="./keys/dev_private.pem"
INVITE_PUBLIC_KEY="./keys/dev_public.pem"
INVITE_ISSUER="LinComms"
INVITE_AUDIENCE="LinCommsUsers"
JWT_SECRET="changeme"
NODE_ENV="development"
