DATABASE_URL="postgresql://lincomms:lincomms@localhost:5432/lincomms_dev?schema=public"
JWT_SECRET="REPLACE_WITH_STRONG_SECRET"
PORT=4000
INVITE_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAxlwLhqay2SBn8oRSjDjN
RVdC+0kLLCMZT0A7O4t/HHlvSAMet4/79VUcaQHT+6b0+uxZxSvtPAazyoLiTRi/
kvH+Mm0eIfbLcVZKDdzZKTMq8+N817g1ExsGRLAfnjdKtNFRkY54sMYQgwakkwK5
2KLxyz/RdOj6EiEuvW3+Mry6xkOAWBlaV/3UVyTjlo9JaoFl6OLz1nQA27VsC9lG
S3gJWmkvc2iYFxNSp0ulWB9P8kCmMPQ9pnPylVK2DH5KfsJKhtczEVgsRlWVjm5I
WdvJJUVgnb+puty6njnG6NgwVkvxPK5HF3wgfs8/IFgY/PW+tVsH4C13+ZIhxEJD
IgFtskUigH6wYpgIFJdZuvu6m2Qb+YtGCOOL2jjs5sIC5d+GVfBba9f4HNn/BX1/
a6Axwfg9pUt6zK8CKRrjp6PxXkOpypERN3+hpH7W/UtRVNdoQSfF820ufaR/TG/+
JLjUDeQD55CZaM6LxTZ2HnmkCBoNsncg/8SsejIvFC6XUGa0dthrpiJhOoqgxImr
EKcAD7La7RKiYf9sM9sArPTS5yuES7WgwoPJmOQCqgCj9TsQoxem1pX9t2AWFEJs
TdxEV/8zo4qlNvbbE9JWizjreq1Lsw9pmI9BxBCTC8pumK5iwR14huinG2OzRS5R
Y0cwwnNZo3EzYXTzgzXkufECAwEAAQ==
-----END PUBLIC KEY-----"
